{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container-fluid thank-you-container">
  <div class="row">
      <div class="col-lg-8 mb-3">
          <div class="thank-you p-3 h-100 bg-white">
              <h1 class="section-title h5">Спасибо за ваш заказ!</h1>
              <p>Ваш заказ был успешно оформлен. Вы будете перенаправлены на главную страницу через <span id="countdown">5</span> секунд.</p>
              <script>
                (function() {
                  let countdownTime = 5; // Время в секундах
                  const countdownElement = document.getElementById('countdown');

                  // Функция для обновления обратного отсчёта
                  const countdown = setInterval(function() {
                      countdownTime--;
                      countdownElement.textContent = countdownTime; // Обновляем текст в элементе

                      if (countdownTime <= 0) {
                          clearInterval(countdown); // Останавливаем таймер
                          window.location.href = "{% url 'home:home' %}"; // Перенаправление
                      }
                  }, 1000); // Обновляем каждую секунду (1000 миллисекунд)
                })();
              </script>
          </div>
      </div>
  </div>
</div>
{% endblock %}
