{% extends "base.html" %} {% load static %} 
{% block title %}{{ title }}{% endblock %} 

{% block content %} 

<div class="container-fluid">
  <div class="row">
      <div class="col-lg-8 mb-3">
          <div class="checkout p-3 h-100 bg-white">
              <h1 class="section-title h5">Спасибо за ваш заказ!</h1>
              <p>Ваш заказ был успешно оформлен. Вы будете перенаправлены на главную страницу через <span id="countdown">5</span> секунд.</p>
              <script>
                // Проверяем, была ли переменная объявлена ранее
                if (typeof countdownTime === 'undefined') {
                    let countdownTime = 5; // Время в секундах
                    const countdownElement = document.getElementById('countdown');

                    // Функция для обновления обратного отсчета
                    const countdown = setInterval(function() {
                        countdownTime--;
                        countdownElement.textContent = countdownTime; // Обновляем текст в элементе

                        if (countdownTime <= 0) {
                            clearInterval(countdown); // Останавливаем таймер
                            window.location.href = "{% url 'home:home' %}"; // Перенаправление
                        }
                    }, 1000); // Обновляем каждую секунду (1000 миллисекунд)
                }
            </script>
          </div>
      </div>
  </div>
</div>
{% endblock %}