{% extends "base.html" %} {% load static %} 
{% block title %}Checkoutpage{% endblock %} 

{% block content %} 

{% include "includes/breadcrumb.html" %}

<div class="container-fluid">
    <form method="post" class="order-form"> 
    {% csrf_token %}
    <div class="row">
      <div class="col-lg-8 mb-3">
        <div class="checkout p-3 h-100 bg-white">
          <h1 class="section-title h5"><span>Оформление заказа</span></h1>
          <div class="row g-3">
            <input type="hidden" name="next" value="{{ next }}"/>
              <div class="form-error">{{ form.non_field_errors }}</div>
              {% for i in form %}
              {% if i == form.comment %}
              <div class="col-md-12">
              <div class="mb-3">
                  <label class="form-label" for="{{ i.id_for_label }}">{{ i.label }}</label> 
                  {{ i }}
                </div>
                  <div class="form-error text-danger">{{ i.errors }}</div>
              </div>
              {% elif i == form.passport_number %}
              <div class="col-md-6" id="passportNumberCol" style="display: none;">
              <div class="mb-3">
                  <label class="form-label" for="{{ i.id_for_label }}">{{ i.label }}</label> 
                  {{ i }}
                </div>
                  <div class="form-error text-danger">{{ i.errors }}</div>
              </div>
              {% elif i == form.postal_code %}
              <div class="col-md-6" id="postalCodeCol" style="display: none;">
              <div class="mb-3">
                  <label class="form-label" for="{{ i.id_for_label }}">{{ i.label }}</label> 
                  {{ i }}
                </div>
                  <div class="form-error text-danger">{{ i.errors }}</div>
              </div>
              {% elif i == form.soglasie_na_obrabotku_danyh %}
              <div class="link_soglasie_na_obrabotku_danyh">
                  {{ i }} <a href="#" id="policyLink" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">{{ i.label }}</a>
                  <div class="form-error text-danger">{{ i.errors }}</div>
              </div>
              {% elif i == form.soglasie_na_uslovie_sotrudnichestva %}
                  <div class="link_soglasie_na_uslovie_sotrudnichestva">
                  {{ i }} <a href="#" id="uslovialink" data-bs-toggle="modal" data-bs-target="#uslovia_Modal">{{ i.label }}</a>
                  <div class="form-error text-danger">{{ i.errors }}</div>
                </div>
              {% else %}
              <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="{{ i.id_for_label }}">{{ i.label }}</label> 
                    {{ i }}
                  </div>
                    <div class="form-error text-danger">{{ i.errors }}</div>
                </div>
                {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="cart-summary p-3 bg-white sidebar h-100">
          <h5 class="section-title"><span>Общая сумма заказа</span></h5>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Продукт</th>
                  <th class="text-end">Цена</th>
                </tr>
              </thead>
              {% for item in cart %}
              <tbody>
                <tr>
                  <td>
                    {{ item.product.title }} <small> {{ item.total_price }} ₽ x {{ item.quantity }}</small>
                  </td>
                  <td class="text-end"> {{ item.total_price }} ₽</td>
                  <input type="hidden" name="size" value="{{ item.size }}">
                </tr>
              </tbody>
              {% endfor %}
              <tfoot>
                <tr>
                  <td colspan="2" class="text-end">
                    {{ cart.get_total_price }} ₽
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- <div class="form-input-row checkbox">
            <input id="conditions" type="checkbox" name="conditions" value="Y" checked="checked">
            <span for="conditions">Я соглашаюсь с <a href="#" id="uslovialink" data-bs-toggle="modal" data-bs-target="#uslovia_Modal">условиями сотрудничества</a></span>
          </div>
          <div class="form-input-row checkbox">
            <input id="personal_data" type="checkbox" name="personal_data" value="Y" checked="checked">
            <span for="personal_data">Я соглашаюсь на обработку моих персональных данных в соответствии с <a href="#" id="policyLink" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">политикой конфиденциальности</a></span>
          </div> -->
          <div class="d-grid mt-3">
            <button type="submit" class="btn btn-outline-dark">Оформить</button>
          </div>
        </div>
      </div>
    </div>
</form>
</div>

<!-- Модальное окно условия сотрудничества-->
<div class="modal fade" id="uslovia_Modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uslovia_ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="uslovia_ModalLabel">{{ uslovia.title }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal__content">
          <div>
            <div class="htmlDataBlock">
              {{ uslovia.description|safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно конфеденциальность-->
<div class="modal fade" id="privacyPolicyModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="privacyPolicyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="privacyPolicyModalLabel">{{ politica.title }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal__content">
          <div>
            <p>{{ politica.description|safe }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}