{% extends "base.html" %} {% load static %} 
{% block title %}Checkoutpage{% endblock %} 

{% block content %} 

{% include "includes/breadcrumb.html" %}

<div class="container-fluid">
    <form method="post" class="order-form"> 
    {% csrf_token %}
    {% for field in form %}
     {% for error in field.errors %}
      <li>{{ field.label }}: {{ error }}</li>
      {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
      {% endfor %}
    <div class="row">
      <div class="col-lg-8 mb-3">
        <div class="checkout p-3 h-100 bg-white">
          <h1 class="section-title h5"><span>Оформление заказа</span></h1>
          <div class="row g-3">           
            <div class="col-md-6">
              <label for="shipmethod" class="form-label">Доставка</label>
              {{ form.delivery_method }}
            </div>
            <div class="col-md-6">
              <label for="first_name_last_name" class="form-label">Фамилия Имя Отчество</label>
              <input
                type="text"
                id="first_name_last_name"
                name="first_name_last_name"
                class="form-control"
                aria-label="first_name_last_name"
                autocomplete="name"
                value="{{ form.first_name_last_name.value|default:'' }}"
              />
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label">Электронный адрес</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                aria-label="email"
                autocomplete="email"
                value="{{ form.email.value|default:'' }}"
              />
            </div>
            <div class="col-md-6">
              <label for="phone" class="form-label">Телефон</label>
              <input
                    type="tel"
                    id="phone"
                    name="phone"
                    class="form-control"
                    aria-label="phone"
                    autocomplete="tel"
                    value="{{ form.phone.value|default:'' }}"
                />
            </div>
            <div class="col-md-6">
              <label for="region" class="form-label">Регион</label>
              <input
                type="text"
                id="region"
                name="region"
                class="form-control"
                aria-label="region"
                autocomplete="name"
                value="{{ form.region.value|default:'' }}"
              />
            </div>
            <div class="col-md-6">
              <label for="city" class="form-label">Город</label>
              <input
                type="text"
                id="city"
                name="city"
                class="form-control"
                aria-label="city"
                autocomplete="name"
                value="{{ form.city.value|default:'' }}"
              />
            </div>
            <div class="col-md-6">
              <label for="address" class="form-label">Адрес</label>
              <input
                type="text"
                id="address"
                name="address"
                class="form-control"
                aria-label="address"
                autocomplete="name"
                value="{{ form.address.value|default:'' }}"
              />
            </div>
            <div class="col-md-6" id="additionalCol" style="display: none;">
              <label for="passport_number" class="form-label">Паспортные данные</label>
              <input
                type="text"
                id="passport_number"
                name="passport_number"
                class="form-control"
                aria-label="passport_number"
                autocomplete="name"
                value="{{ form.passport_number.value|default:'' }}"
              />
            </div>
            <div class="col-12">
              <label for="comment" class="form-label"
                >Комментарии к заказу</label
              >
              <textarea
                class="form-control"
                name="comment"
                id="comment"
                rows="3"
                placeholder="Комментарий">{{ form.comment.value|default:'' }}
              </textarea>
            </div>
            <div class="col-md-6">
              <div class="form-input-row checkbox">
                {{ form.strahovat_gruz }} <label for="{{ form.strahovat_gruz.id_for_label }}">Не предлагать замену товаров</label>
              </div>
              <div class="form-input-row checkbox">
                {{ form.zamena_product }} <label for="{{ form.zamena_product.id_for_label }}">Cтраховать груз</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="cart-summary p-3 bg-white sidebar h-100">
          <h5 class="section-title"><span>Общая сумма заказа</span></h5>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Продукт</th>
                  <th class="text-end">Цена</th>
                </tr>
              </thead>
              {% for item in cart %}
              <tbody>
                <tr>
                  <td>
                    {{ item.product.title }} <small> {{ item.total_price }} ₽ x {{ item.quantity }}</small>
                  </td>
                  <td class="text-end"> {{ item.total_price }} ₽</td>
                  <input type="hidden" name="size" value="{{ item.size }}">
                </tr>
              </tbody>
              {% endfor %}
              <tfoot>
                <tr>
                  <td colspan="2" class="text-end">
                    {{ cart.get_total_price }} ₽
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="form-input-row checkbox">
            <input id="conditions" type="checkbox" name="conditions" value="Y" checked="checked">
            <span for="conditions">Я соглашаюсь с <a href="#" id="uslovialink" data-bs-toggle="modal" data-bs-target="#uslovia_Modal">условиями сотрудничества</a></span>
          </div>
          <div class="form-input-row checkbox">
            <input id="personal_data" type="checkbox" name="personal_data" value="Y" checked="checked">
            <span for="personal_data">Я соглашаюсь на обработку моих персональных данных в соответствии с <a href="#" id="policyLink" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">политикой конфиденциальности</a></span>
          </div>
          <div class="d-grid mt-3">
            <button type="submit" class="btn btn-outline-dark">Оформить</button>
          </div>
        </div>
      </div>
    </div>
</form>
</div>

<!-- Модальное окно условия сотрудничества-->
<div class="modal fade" id="uslovia_Modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uslovia_ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="uslovia_ModalLabel">{{ uslovia.title }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal__content">
          <div>
            <div class="htmlDataBlock">
              {{ uslovia.description|safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно конфеденциальность-->
<div class="modal fade" id="privacyPolicyModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="privacyPolicyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="privacyPolicyModalLabel">{{ politica.title }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal__content">
          <div>
            <p>{{ politica.description|safe }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}