{% extends "base.html" %}
{% load static %}

{% block title %}Детали заказа {{ order.id }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 mb-3">
            <div class="order-content p-3 bg-white">
                <h1 class="mt-4">Детали заказа № {{ order.id }}</h1>

                <div class="order-details mt-4">
                    <h5>Информация о заказе</h5>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Дата создания:</strong> {{ order.created }}</li>
                        <li class="list-group-item"><strong>Статус:</strong> {{ order.get_status_display }}</li>
                        <li class="list-group-item"><strong>Товар Оплачен:</strong>{% if order.paid %} Да {% else %} Нет {% endif %}</li>
                        <li class="list-group-item"><strong>Сумма:</strong> {{ order.get_total_cost }}</li>
                        <li class="list-group-item"><strong>Способ доставки:</strong> {{ order.delivery_method }}</li>
                        <li class="list-group-item"><strong>Цена доставки:</strong> 
                            {% if order.price_delivery %}
                                {{ order.price_delivery }}
                            {% else %}
                                
                            {% endif %}
                        </li>
                        <li class="list-group-item"><strong>Скидка:</strong> 
                            {% if order.discount %}
                                {{ order.discount.discount_value }} ({{ order.discount.get_discount_type_display }})
                            {% else %}
                                
                            {% endif %}
                        </li>
                    </ul>
                </div>

                <div class="order-items mt-4">
                    <h5>Товары в заказе</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Название товара</th>
                                <th>Артикул</th>
                                <th>Размер</th>
                                <th>Количество</th>
                                <th>Цена</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order.items.all %}
                            <tr>
                                <td>{{ item.product.title }}</td>
                                <td>{{ item.product.article_number }}</td>
                                <td>{{ item.size }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3">Нет товаров в этом заказе.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="order-messages mt-4">
                    <h5>Комментарий к заказу</h5>
                    <ul class="list-group">
                        {% if order.comment %}
                            <li class="list-group-item">
                                {{ order.comment|safe }}
                            </li>
                        {% else %}
                            <li class="list-group-item">Нет комментария к этому заказу.</li>
                        {% endif %}
                    </ul>
                </div>

                <div class="mt-4">
                    <a href="{% url 'users:profile' %}" class="btn btn-dark">Вернуться в профиль</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}