services:
  db:
    image: postgres:16.2
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file: .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 30s
      timeout: 10s
      retries: 5
  redis:
    image: redis:7.2.4
    restart: always
    volumes:
      - redis_data:/data
    env_file: .env
    command: redis-server --appendonly yes --requirepass $REDIS_PASSWORD
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "$REDIS_PASSWORD", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5 
  rabbitmq:
    image: rabbitmq:3.13-management
    restart: always
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    env_file: .env
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
  web:
    image: r162809ws/myshop-web:${TAG:-latest} 
    user: "33:33"
    command: ["./wait-for-it.sh", "db:5432", "--", "sh", "-c", "python myshop/manage.py makemigrations --settings=myshop.settings.prod && python myshop/manage.py migrate --settings=myshop.settings.prod && python myshop/manage.py collectstatic --noinput --clear --settings=myshop.settings.prod && if [ \"$(python myshop/manage.py shell --settings=myshop.settings.prod -c 'from django.contrib.auth import get_user_model; User = get_user_model(); print(User.objects.filter(is_superuser=True).exists())')\" != 'True' ]; then python myshop/manage.py createsuperuser --noinput --settings=myshop.settings.prod || true; fi && uwsgi --ini /app/config/uwsgi/uwsgi.ini"]
    restart: always
    volumes:
      - static_volume:/app/myshop/static
      - media_volume:/app/myshop/media
      - uwsgi_socket:/app/myshop/
    env_file: .env
    environment:
      - DJANGO_SETTINGS_MODULE=myshop.settings.prod
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
  celery:
    image: r162809ws/myshop-web:${TAG:-latest}
    user: "33:33"
    command: celery -A myshop worker -E -l info
    volumes:
      - static_volume:/app/myshop/static
      - media_volume:/app/myshop/media
    environment:
      - DJANGO_SETTINGS_MODULE=myshop.settings.prod
      - PYTHONPATH=/app/myshop
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      web:
        condition: service_started
      rabbitmq:
        condition: service_healthy
  nginx:
    image: nginx:1.25.5
    restart: always
    volumes:
      - ./config/nginx:/etc/nginx/templates
      - static_volume:/app/myshop/static
      - media_volume:/app/myshop/media
      - uwsgi_socket:/app/myshop/
    ports:
      - 8000:80
    depends_on:
      web:
        condition: service_started
      flower:
        condition: service_started
  flower:
    image: r162809ws/myshop-web:${TAG:-latest}
    user: "33:33"
    env_file: .env
    command: celery -A myshop flower --basic_auth="${FLOWER_BASIC_AUTH_USER}:${FLOWER_BASIC_AUTH_PASSWORD}" --url_prefix=/rws!-flower-admin
    volumes:
      - media_volume:/app/myshop/media
    environment:
      - DJANGO_SETTINGS_MODULE=myshop.settings.prod
      - PYTHONPATH=/app/myshop
      - FLOWER_UNAUTHENTICATED_API=false
    depends_on:
      celery:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-u", "${FLOWER_BASIC_AUTH_USER}:${FLOWER_BASIC_AUTH_PASSWORD}", "-f", "http://localhost:5555/rws!-flower-admin/dashboard"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  static_volume:
  media_volume:
  db_data:
  redis_data:
  rabbitmq_data:
  uwsgi_socket:
