{% if breadcrumbs %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumbs">
        <ul>
          <li><a href="{% url 'home:home' %}">Главная</a></li>
          {% for i in breadcrumbs %}
              {% if forloop.last %}
                  <li>{{ i.name }}</li>  <!-- Отображаем без ссылки, если это последний элемент -->
              {% else %}
                <li><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></li>  <!-- Отображаем с ссылкой для остальных элементов -->
              {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endif %}

