<div class="footer" id="footer">
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-6">
          <h4>Information</h4>
          <ul class="list-unstyled">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Доставка и Оплата</a></li>
            <li><a href="#">Корзина</a></li>
            <li><a href="#">Вход в бэк-офис</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-6">
          <h4>Working hours</h4>
          <ul class="list-unstyled">
            <li><i class="bi bi-geo-alt me-2"></i><a>Россия, Москва</a></li>
            <li><a>Время работы: с 9:00 до 18:00 Выходной: СБ, ВС</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-6">
          <h4>Contacts</h4>
          <ul class="list-unstyled">
            <li><a>Связь с администрацией</a></li>
            <li><i class="bi bi-telephone me-2"></i><a href="tel:+79187545964">+79187545964</a></li>
            <li><i class="bi bi-envelope-at me-2"></i><a href="mailto:cozyopt@gmail.com">cozyopt@gmail.com</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-6">
          <h4>Follow us</h4>
          <ul class="footer-icons">
            <li>
              <a href="#"><i class="bi bi-youtube"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </li>
            <li>
              <a href="#"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="copyright">
          <span>©2025 COZY. Все права защищены.</span>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
