{% load custom_filters %}
{% load static %}
<header class="header">
  <div class="header-top bg-black py-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8 col-sm-4">
          <div
            class="header-top-phone"
          >
            <a href="tel:+79187545964">
              <i class="bi bi-telephone me-2"></i>
              <span>+79187545964</span>
            </a>
          </div>
        </div>
        <div class="col-sm-4 d-none d-sm-flex justify-content-center">
          <div class="header-time-work">
            <a href="#" class="me-2"><i class="bi bi-telegram"></i></a>
            <a href="#"><i class="bi bi-whatsapp"></i></a>
          </div>
        </div>
        <div class="col-4 col-sm-4">
          <div
            class="header-top-account text-end"
          >
            <div class="btn-group">
              {% if user.is_authenticated %}
              <div class="dropdown">
                <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-person-circle me-2"></i><span class="account-label">{{ user.username }}</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'users:profile' %}" class="dropdown-item">Перейти в профиль</a></li>
                  <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <li><button class="dropdown-item" href="{% url 'users:logout' %}">Выйти</button></li>
                  </form>
                  {% else %}
                  <div class="dropdown">
                    <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-person-circle me-2"></i><span class="account-label">Личный кабинет</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'users:login' %}">Войти</a></li>
                      <li><a class="dropdown-item" href="{% url 'users:register' %}">Регистрация</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end ./header-top-account -->
  <div class="header-middle bg-light py-3">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-3 header-logo-main h-100 text-center">
          <a href="{% url 'home:home' %}" class="header-logo"
            ><img
              src="{% static 'img/logo.png' %}"
              class="img-fluid header-img-logo"
              alt=""
          /></a>
        </div>
        <div class="col-md-6 header-search h-100">
          <form action="">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                name="Search"
                placeholder=""
                aria-label="Searching..."
                aria-describedby="button-Search"
              />
              <button
                class="btn btn-outline-dark"
                type="submit"
                id="button-Search"
              >
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-3 header-cart-bottom text-end h-100">
          <div class="cart-buttons-navbar h-100">
            <!-- <a href="#" class="btn p-1">
              <i class="bi bi-heart-fill"></i>
              <span class="badge text-bg-light cart-badge rounded-circle">1</span>
            </a> -->
            <button
              class="btn p-1"
              id="cart-open"
              type="button"
              data-bs-toggle="offcanvas2"
              data-bs-target="#offcanvasCart"
              aria-controls="offcanvasCart">
              <i class="bi bi-cart4"></i>
              <span class="badge text-bg-light cart-badge rounded-circle">
                <div class="cart">
                  <!-- {% with total_items=cart|length %}
                    {% if total_items > 0 %}
                    В корзине:
                        {{ total_items|pluralize:"товар, товара, товаров" }}
                        на {{ cart.get_total_price }} ₽
                    {% else %}
                      Ваша корзина пуста.
                    {% endif %}
                  {% endwith %} -->
                  {% with total_items=cart|length %}
                    {% if total_items > 0 %}
                        {{ total_items|pluralize:"товар, товара, товаров" }}
                    {% endif %}
                  {% endwith %}
                 </div>  
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end ./header-middle -->
  <div class="header-bottom">
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-12 p-0">
          <div class="menu-container">
            <div class="menu">
              {% load mptt_tags %}
              <ul>
                <li><a href="{% url 'home:home' %}">Главная</a></li>
                <li><a href="{% url 'home:delivery' %}">Доставка</a></li>
                <li><a href="{% url 'cart:cart_detail' %}">Корзина</a></li>
                {% recursetree categories %}
                <li>
                  <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>                  
                  <ul class="children">
                      {% for child in node.get_children %}
                        <li>
                        <a href="{{ child.get_absolute_url }}">{{ child.name }}</a>
                        </li>
                      {% endfor %}
                  </ul>                 
                </li>
                {% endrecursetree %}
                <li><a href="{% url 'home:news' %}">Новости</a></li>
                <li><a href="{% url 'home:size_table' %}">Размерная таблица</a></li>
                <li><a href="{% url 'home:reviews' %}">Отзывы</a></li>
                <li><a href="{% url 'home:contacts' %}">Контакты</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--end ./header-bottom -->

<div class="offcanvas offcanvas-end"
tabindex="-1"
id="offcanvasCart"
aria-labelledby="offcanvasCartLabel"
>
<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasCartLabel">
    {% with total_items=cart|length %}
    {% if total_items > 0 %}
    В корзине:
    {% else %}
      Ваша корзина пуста.
    {% endif %}
    {% endwith %}
  </h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="offcanvas"
    aria-label="Close"
  ></button>
</div>
<div class="offcanvas-body">
  <div class="table-responsive">
    <table class="table offcanvasCart-table">
      <tbody>
        {% for item in cart %} 
        {% with product=item.product %} 
        <tr>
          <td class="product-img-td">
            {% with first_image=product.images.first %}
            <a href="{{ product.get_absolute_url }}">
              <img src="{% if first_image.image.url %}{{ first_image.image.url }}
            {% else %}{% static "img/no_image.png" %}{% endif %}"> 
            </a>
            {% endwith %}
          </td>
          <td class="product-img-td"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></td>
          <td class="num">{{ item.price }} ₽</td> 
          <td class="item-quantity">&times;{{ item.quantity }}</td>
          <td class="form-remove">
            <form action="{% url 'cart:cart_remove' product.id %}" method="post">
              <input type="hidden" name="size" value="{{ item.size }}">
              <button class="btn btn-danger" type="submit">
                <i class="bi bi-x-square"></i>
              </button>
                  {% csrf_token %}
            </form> 
        </td> 
        </tr>
        {% endwith %} 
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="text-end">Итого:</td>
          <td class="text-end">{{ cart.get_total_price }} ₽</td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="text-end mt-3">
    <a href="{% url 'cart:cart_detail' %}" class="btn btn-outline-dark">Корзина</a>
    <a href="{% url 'orders:order_create' %}" class="btn btn-outline-dark"
      >Оформления заказа</a
    >
  </div>
</div>
</div>