{% extends "base.html" %} 
{% load static %}
{% block title %}Корзина{% endblock %}
 {% block content %}
 {% include "includes/breadcrumb.html" %}
 <div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 mb-3">
      <div class="cart-content p-3 bg-white">
          <h1 class="section-title"><span>Корзина</span></h1>
          <div class="table-responsive">
            <table class="table align-middle table-hover">
              <thead class="table-dark">
              <tr>
                <th>Фото</th>
                <th>Продукт</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Цена общая</th>
                <th><i class="bi bi-trash"></i></th>
      </tr>
    </thead>
     <tbody>
      {% for item in cart %} 
      {% with product=item.product %} 
      <tr>
        <td>
          <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }} 
            {% else %}{% static "img/no_image.png" %}{% endif %}"> 
          </a>
        </td>
        <td class="product-img-td"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></td>
        <td class="num">{{ item.price }} ₽</td> 
        <td>
          <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {% csrf_token %}
            {{ item.update_quantity_form.quantity }} 
            {{ item.update_quantity_form.override }}
            <input type="submit" value="Update"> 
          </form> 
        </td>
        <td class="num">{{ item.total_price }} ₽</td>
        <td><form action="{% url "cart:cart_remove" product.id %}" 
            method="post">
            <button class="btn btn-danger" type="submit">
              <i class="bi bi-x-square"></i>
            </button>
                {% csrf_token %}
            </form> 
        </td> 
        </tr>
        {% endwith %} 
        {% endfor %}
        <tr class="total">
          <td>Итого</td>
          <td colspan="4"></td>
          <td class="num">{{ cart.get_total_price }} ₽</td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="col-lg-12 mt-3">
    <div class="link-checkout d-flex justify-content-between">
      <p class="m-0">
        <a href="{{ get_root_catalog }}" class="button 
        light h5">Продолжить покупки</a>
      </p>
      <p class="m-0">
        <a href="#" class="button h5">Оформить заказ</a> 
      </p>
    </div>
  </div>
{% endblock %}
    