{% extends "base.html" %} {% load static %} 
{% block title%}Cartpage{% endblock %}

{% block content %} 
{% include "includes/breadcrumb.html" %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 mb-3">
      <div class="cart-content p-3 bg-white">
        <div class="table-responsive">
          <table class="table align-middle table-hover">
            <thead class="table-dark">
              <tr>
                <th>Фото</th>
                <th>Продукт</th>
                <th>Цена</th>
                <th>Количество</th>
                <th><i class="bi bi-trash"></i></th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart %}
              {% with product=item.product %}
                <tr>
                <td class="product-img-td">
                  <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }} 
                    {% else %}{% static 'img/no_image.png' %}{% endif %}">
                  </a>
                </td>
                <td><a href="{{ product.get_absolute_url }}" class="cart-content-title">{{ product.title }}</a></td>
                <td class="num">${{ item.price }}</td>
                <td><input type="number" value="{{ item.quantity }}" class="form-control cart-qty"></td>
                <td>
                <form action="{% url "cart:cart_remove" product.id %}" 
                  method="post">  
                  <button class="btn btn-danger">
                    <i type="submit" class="bi bi-x-square" value="Remove"></i>
                  </button>
                  {% csrf_token %}
                </form> 
                </td>
                </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" class="text-end">
                  <button class="btn btn-outline-dark">Обновить корзину</button>
                </td>
                <p class="text-right">
                  <a href="{% url 'home:category' product.category.slug %}" 
                  class="button light">Continue shopping</a>
                </p>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-3">
      <div class="cart-summary p-3 bg-white sidebar">
        <h5 class="section-title"><span>Перейти к оформлению</span></h5>
        <div class="d-flex justify-content-between my-3">
          <h3>Итого</h3>
          <h3><td class="num">{{ item.total_price }}₽</td></h3>
        </div>
        {% endwith %} 
        {% endfor %}
        <div class="d-grid">
          <a href="{% url 'home:checkout' %}" class="btn btn-outline-dark">Оформить
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}