{% extends "base.html" %} {% load static %} 
{% block title%}Cartpage{% endblock %}

{% block content %} 
{% include "includes/breadcrumb.html" %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 mb-3">
      <div class="cart-content p-3 bg-white">
        <div class="table-responsive">
          <table class="table align-middle table-hover">
            <thead class="table-dark">
              <tr>
                <th>Фото</th>
                <th>Продукт</th>
                <th>Цена</th>
                <th>Количество</th>
                <th><i class="bi bi-trash"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="product-img-td">
                  <a href="#">
                    <img src="{% static 'img/product/1.jfif' %}" alt="" />
                  </a>
                </td>
                <td>
                  <a href="#" class="cart-content-title"
                    >Product 1 Lorem ipsum, dolor sit amet consectetur
                    adipisicing.</a
                  >
                </td>
                <td>$65</td>
                <td><input type="number" value="1" class="form-control cart-qty"></td>
                <td>
                  <button class="btn btn-danger">
                    <i class="bi bi-x-square"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="product-img-td">
                  <a href="#">
                    <img src="{% static 'img/product/2.jfif' %}" alt="" />
                  </a>
                </td>
                <td><a href="#" class="cart-content-title">Product 2</a></td>
                <td>$100</td>
                <td><input type="number" value="2" class="form-control cart-qty"></td>
                <td>
                  <button class="btn btn-danger">
                    <i class="bi bi-x-square"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="product-img-td">
                  <a href="#">
                    <img src="{% static 'img/product/3.jfif' %}" alt="" />
                  </a>
                </td>
                <td><a href="#" class="cart-content-title">Product 3</a></td>
                <td>$250</td>
                <td><input type="number" value="3" class="form-control cart-qty"></td>
                <td>
                  <button class="btn btn-danger">
                    <i class="bi bi-x-square"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" class="text-end">
                  <button class="btn btn-outline-dark">Обновить корзину</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-3">
      <div class="cart-summary p-3 bg-white sidebar">
        <h5 class="section-title"><span>Сводка корзины</span></h5>
        <div class="d-flex justify-content-between my-3">
          <h6>Итого</h6>
          <h6>1000 руб.</h6>
        </div>
        <div class="d-flex justify-content-between my-3">
          <h6>Купон</h6>
          <h6>-20%</h6>
        </div>
        <div class="d-flex justify-content-between my-3 border-bottom">
          <h6>Доставка</h6>
          <h6>300 руб.</h6>
        </div>
        <button class="btn btn-link px-0 btn-coupon" data-bs-toggle="collapse" data-bs-target="#collapseCoupon">
          Примените купон на скидку.
        </button>
        <div class="input-group collapse" id="collapseCoupon">
          <input
            type="text"
            class="form-control"
            placeholder="Купон код"
          />
          <button
            class="btn btn-outline-dark">
          <i class="bi bi-check-circle"></i>
          </button>
        </div>

        <div class="d-flex justify-content-between my-3">
          <h3>Итого</h3>
          <h3>1040 руб.</h3>
        </div>
        <div class="d-grid">
          <a href="{% url 'home:checkout' %}" class="btn btn-outline-dark">Оформить
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}