{% extends "base.html" %} {% load static %} 
{% block title%}{{ category }}{%endblock %} 

{% block content %}

{% include "includes/breadcrumb.html" %}


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4 d-none d-md-block">
      <div class="sidebar">
        <div class="collapse collapse-category" id="sidebar-collapse">
          <div class="left-sidebar-title">
            <h4>Категории товаров</h4>
          </div>
          <div class="catalog-item">
            {% for i in get_descendants_cat %}
            <div class="catalog-item-link">
              <a href="{{ i.get_absolute_url }}" class="catalog__link ">
                <span>{{ i.name }}</span>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-8">
      <div class="category-list mb-3">
          <div class="row">
              <div class="col-12">
                  <h1 class="section-title"><span>{{ category }}</span></h1>
              </div>
          </div>
          <hr />
          
          {% if get_children_cat %}
              <div class="row">
                  {% for i in get_children_cat %}
                      <div class="col-lg-3 col-sm-4 mb-3">
                          <div class="product-card">
                              <div class="product-thumb">
                                  {% if i.image %}
                                  <a><img src="{{ i.image.url }}" alt=""/></a>
                                  {% else %}
                                  <img src="{% static 'img/no_image.png' %}" alt="Нет изображения">
                                  {% endif %}
                              </div>
                              <div class="catalog-category text-center">
                                  <h5>
                                      <a href="{{ i.get_absolute_url }}">{{ i.name }}</a>
                                  </h5>
                              </div>
                          </div>
                      </div>
                  {% endfor %}
              </div>
          
          {% else %}
              <div class="row mb-3">
                  <div class="col-sm-6 mb-2 mb-sm-0">
                      <div class="input-group">
                          <span class="input-group-text">Сортировать по:</span>
                          <select class="form-select" aria-label="Default select example" id="name-price">
                              <option value="1" selected>Name(a-z)</option>
                              <option value="2">Name(z-a)</option>
                              <option value="3">Price(high-low)</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="input-group">
                          <span class="input-group-text">Показать:</span>
                          <select class="form-select" aria-label="Default select example" id="number-show">
                              <option value="1" selected>9</option>
                              <option value="2">15</option>
                              <option value="3">30</option>
                              <option value="4">45</option>
                          </select>
                      </div>
                  </div>
              </div>
  
              <div class="row">
                {% for z in products %}
                    {% with first_image=z.images.first %}
                        <div class="col-lg-4 col-sm-6 mb-3">
                            <div class="product-card">
                                <div class="product-card-offer">
                                    <div class="offer-hit">Hit</div>
                                    <div class="offer-new">New</div>
                                </div>
                                <div class="product-thumb">
                                    <a href="#"><img src="{{ first_image.image.url }}" alt=""/></a>
                                </div>
                                <div class="product-details">
                                    <h4>
                                        <a href="{{ z.get_absolute_url }}">{{ z.title }}</a>
                                    </h4>
                                    <div class="product-bottom-details d-flex justify-content-between align-items-center">
                                        <div class="product-price">
                                            {% if z.min_price %}
                                                {{ z.min_price }} ₽
                                            {% else %}
                                                Цена не указана
                                            {% endif %}
                                        </div>
                                        <div class="product-links">
                                            <button type="button" class="btn btn-outline-dark add-to-cart" data-bs-toggle="modal" data-bs-target="#product_Link_add_Modal_{{ z.id }}" data-product-id="{{ z.id }}" data-product-price="{{ z.min_price }}" data-product-title="{{ z.title }}">
                                                <i class="bi bi-cart4"></i>
                                            </button>
                                            
                                            <!-- Модальное окно -->
                                            <div class="modal fade" id="product_Link_add_Modal_{{ z.id }}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="product_Link_add_ModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title fs-5" id="product_Link_add_ModalLabel">Добавить в корзину</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h1 class="productView__name" itemprop="name">{{ z.title }}</h1>
                                                            <div class="productView__articles">
                                                                <label>Артикул:</label>
                                                                <span class="article_number">{{ z.article_number }}</span>
                                                            </div>
                                                            <div class="price__now RUB" itemprop="price">
                                                                <label for="price-display" class="form-label">Цена:</label>
                                                                <span id="price-display" name="price-display">
                                                                    {% if z.min_price %}
                                                                        {{ z.min_price }} ₽
                                                                    {% else %}
                                                                        Цена не указана
                                                                    {% endif %}
                                                                </span>
                                                            </div>
                                                            <form action="{% url 'cart:cart_add' z.id %}" method="post">
                                                                {% csrf_token %}
                                                                <div class="col-sm-5 quantity-product-modal">
                                                                    <label for="quantity" class="form-label">Количество:</label>
                                                                    <input name="quantity" id="quantity" type="number" class="form-control" value="1" min="1"/>
                                                                </div>
                                                                <br>
                                                                <div class="col-sm-5 select-size">
                                                                    <label for="size" class="form-label">Размер:</label>
                                                                    <select name="size" class="form-control custom-select" required id="size-select-{{ z.id }}">
                                                                        <option value="" disabled selected>Выберите размер</option>
                                                                        {% for price in z.product_prices.all %}
                                                                            <option value="{{ price.size.title }}" data-price="{{ price.price }}">{{ price.size.title }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                                <br>
                                                                <button type="submit" class="btn btn-dark">
                                                                    <i class="bi bi-cart4 me-2"></i>Добавить
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
          {% include "includes/pagination.html" %}
          {% endif %}
      </div>
  </div>
</div>
</div>
{% endblock %}


<!-- <div class="col-4 col-sm-2">
  <img
    src="{% static 'img/product/3.jfif' %}"
    alt=""
    class="img-thumbnail"
  />
  </div>
  <div class="col-8 col-sm-10">
  <p>
    {{ i.name }}
  </p>
  </div> -->

<!-- <div class="sidebar">
  <button
    class="btn btn-dark w-100 collapse-filters-btn mb-3"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebar-collapse"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    <i class="bi bi-filter"></i>Фильтр
  </button>
  <div class="collapse collapse-filters" id="sidebar-collapse">
    <div class="filter-block">
      <h5 class="section-title"><span>Фильтр по цветам</span></h5>
      <form action="#">
        <div class="form-check d-flex justify-content-between">
          <div>
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="black"
            />
            <label class="form-check-label" for="black"> Чёрный </label>
          </div>
          <span class="badge border rounded-0">100</span>
        </div>
        <div class="form-check d-flex justify-content-between">
          <div>
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="white"
            />
            <label class="form-check-label" for="white"> Белый </label>
          </div>
          <span class="badge border rounded-0">87</span>
        </div>
        <div class="form-check d-flex justify-content-between">
          <div>
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="red"
            />
            <label class="form-check-label" for="red"> Красный </label>
          </div>
          <span class="badge border rounded-0">50</span>
        </div>
        <div class="form-check d-flex justify-content-between">
          <div>
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="blue"
            />
            <label class="form-check-label" for="blue"> Синий </label>
          </div>
          <span class="badge border rounded-0">115</span>
        </div>
      </form>
    </div>
    <div class="filter-block">
      <h5 class="section-title"><span>Фильтр по размерам</span></h5>
      <form action="#">
        <div class="form-check d-flex justify-content-between">
          <div>
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="size-xs"
            />
            <label class="form-check-label" for="size-xs"> XS </label>
          </div>
          <span class="badge border rounded-0">100</span>
        </div>
        <div class="form-check d-flex justify-content-between">
          <div>
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="size-s"
            />
            <label class="form-check-label" for="size-s"> S </label>
          </div>
          <span class="badge border rounded-0">87</span>
        </div>
        <div class="form-check d-flex justify-content-between">
          <div>
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="size-m"
            />
            <label class="form-check-label" for="size-m"> M </label>
          </div>
          <span class="badge border rounded-0">50</span>
        </div>
        <div class="form-check d-flex justify-content-between">
          <div>
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="size-l"
            />
            <label class="form-check-label" for="size-l"> L </label>
          </div>
          <span class="badge border rounded-0">115</span>
        </div>
        <div class="form-check d-flex justify-content-between">
          <div>
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="size-xl"
            />
            <label class="form-check-label" for="size-xl"> XL </label>
          </div>
          <span class="badge border rounded-0">115</span>
        </div>
      </form>
    </div>
    <div class="filter-block">
      <h5 class="section-title"><span>Пол</span></h5>
      <form action="#">
        <div class="form-check d-flex justify-content-between">
          <div>
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="man"
            />
            <label class="form-check-label" for="man"> Мужчина </label>
          </div>
          <span class="badge border rounded-0">100</span>
        </div>
        <div class="form-check d-flex justify-content-between">
          <div>
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="woman"
            />
            <label class="form-check-label" for="woman"> Женщина </label>
          </div>
          <span class="badge border rounded-0">87</span>
        </div>
        <div class="form-check d-flex justify-content-between">
          <div>
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="baby"
            />
            <label class="form-check-label" for="baby"> Дети </label>
          </div>
          <span class="badge border rounded-0">50</span>
        </div>
      </form>
    </div>
  </div>
</div> -->