{% extends "base.html" %} {% load static %} 
{% block title%}Categorypage{%endblock %} 

{% block content %}

{% include "includes/breadcrumb.html" %}


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="sidebar">
        <button
          class="btn btn-dark w-100 collapse-filters-btn mb-3"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#sidebar-collapse"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          <i class="bi bi-filter"></i>Фильтр
        </button>
        <div class="collapse collapse-filters" id="sidebar-collapse">
          <div class="filter-block">
            <h5 class="section-title"><span>Фильтр по цветам</span></h5>
            <form action="#">
              <div class="form-check d-flex justify-content-between">
                <div>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="black"
                  />
                  <label class="form-check-label" for="black"> Чёрный </label>
                </div>
                <span class="badge border rounded-0">100</span>
              </div>
              <div class="form-check d-flex justify-content-between">
                <div>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="white"
                  />
                  <label class="form-check-label" for="white"> Белый </label>
                </div>
                <span class="badge border rounded-0">87</span>
              </div>
              <div class="form-check d-flex justify-content-between">
                <div>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="red"
                  />
                  <label class="form-check-label" for="red"> Красный </label>
                </div>
                <span class="badge border rounded-0">50</span>
              </div>
              <div class="form-check d-flex justify-content-between">
                <div>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="blue"
                  />
                  <label class="form-check-label" for="blue"> Синий </label>
                </div>
                <span class="badge border rounded-0">115</span>
              </div>
            </form>
          </div>
          <div class="filter-block">
            <h5 class="section-title"><span>Фильтр по размерам</span></h5>
            <form action="#">
              <div class="form-check d-flex justify-content-between">
                <div>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="size-xs"
                  />
                  <label class="form-check-label" for="size-xs"> XS </label>
                </div>
                <span class="badge border rounded-0">100</span>
              </div>
              <div class="form-check d-flex justify-content-between">
                <div>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="size-s"
                  />
                  <label class="form-check-label" for="size-s"> S </label>
                </div>
                <span class="badge border rounded-0">87</span>
              </div>
              <div class="form-check d-flex justify-content-between">
                <div>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="size-m"
                  />
                  <label class="form-check-label" for="size-m"> M </label>
                </div>
                <span class="badge border rounded-0">50</span>
              </div>
              <div class="form-check d-flex justify-content-between">
                <div>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="size-l"
                  />
                  <label class="form-check-label" for="size-l"> L </label>
                </div>
                <span class="badge border rounded-0">115</span>
              </div>
              <div class="form-check d-flex justify-content-between">
                <div>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="size-xl"
                  />
                  <label class="form-check-label" for="size-xl"> XL </label>
                </div>
                <span class="badge border rounded-0">115</span>
              </div>
            </form>
          </div>
          <div class="filter-block">
            <h5 class="section-title"><span>Пол</span></h5>
            <form action="#">
              <div class="form-check d-flex justify-content-between">
                <div>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="man"
                  />
                  <label class="form-check-label" for="man"> Мужчина </label>
                </div>
                <span class="badge border rounded-0">100</span>
              </div>
              <div class="form-check d-flex justify-content-between">
                <div>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="woman"
                  />
                  <label class="form-check-label" for="woman"> Женщина </label>
                </div>
                <span class="badge border rounded-0">87</span>
              </div>
              <div class="form-check d-flex justify-content-between">
                <div>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="baby"
                  />
                  <label class="form-check-label" for="baby"> Дети </label>
                </div>
                <span class="badge border rounded-0">50</span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-8">
      <div class="row mb-3">
        <div class="col-12">
          <h1 class="section-title"><span>Category name</span></h1>
        </div>
        <div class="col-4 col-sm-2">
          <img
            src="{% static 'img/product/3.jfif' %}"
            alt=""
            class="img-thumbnail"
          />
        </div>
        <div class="col-8 col-sm-10">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum natus
            eaque nemo nihil, sint labore repellendus praesentium illo neque
            dignissimos consequatur harum possimus corrupti? Adipisci, soluta.
            Modi commodi incidunt unde?
          </p>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-sm-6">
          <div class="input-group mb-3">
            <span class="input-group-text">Сортировать по:</span>
            <select class="form-select" aria-label="Default select example">
              <option selected>Выбрать</option>
              <option value="1">Name(a-z)</option>
              <option value="2">Name(z-a)</option>
              <option value="3">Price(high-low)</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group mb-3">
            <span class="input-group-text">Показать:</span>
            <select class="form-select" aria-label="Default select example">
              <option selected>Выбрать</option>
              <option value="1">9</option>
              <option value="2">15</option>
              <option value="3">30</option>
              <option value="3">45</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="product-card">
            <div class="product-card-offer">
              <div class="offer-hit">Hit</div>
              <div class="offer-new">New</div>
            </div>
            <div class="product-thumb">
              <a href="#"
                ><img src="{% static 'img/product/1.jfif' %}" alt=""
              /></a>
            </div>
            <div class="product-details">
              <h4>
                <a href="#"
                  >Product 1 Lorem ipsum dolor sit amet consectetur
                  adipisicing.</a
                >
              </h4>
              <p class="product-excerpt">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatibus, odit.
              </p>
              <div
                class="product-bottom-details d-flex justify-content-between"
              >
                <div class="product-price">
                  <small>1000 руб.</small>
                  850 руб.
                </div>
                <div class="product-links">
                  <a href="#" class="btn btn-outline-dark add-to-cart"
                    ><i class="bi bi-cart4"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="product-card">
            <div class="product-card-offer">
              <div class="offer-hit">Hit</div>
              <div class="offer-new">New</div>
            </div>
            <div class="product-thumb">
              <a href="#"
                ><img src="{% static 'img/product/2.jfif' %}" alt=""
              /></a>
            </div>
            <div class="product-details">
              <h4>
                <a href="#"
                  >Product 1 Lorem ipsum dolor sit amet consectetur
                  adipisicing.</a
                >
              </h4>
              <p class="product-excerpt">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatibus, odit.
              </p>
              <div
                class="product-bottom-details d-flex justify-content-between"
              >
                <div class="product-price">
                  <small>1500 руб.</small>
                  920 руб.
                </div>
                <div class="product-links">
                  <a href="#" class="btn btn-outline-dark add-to-cart"
                    ><i class="bi bi-cart4"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="product-card">
            <div class="product-card-offer">
              <div class="offer-hit">Hit</div>
              <div class="offer-new">New</div>
            </div>
            <div class="product-thumb">
              <a href="#"
                ><img src="{% static 'img/product/3.jfif' %}" alt=""
              /></a>
            </div>
            <div class="product-details">
              <h4>
                <a href="#"
                  >Product 1 Lorem ipsum dolor sit amet consectetur
                  adipisicing.</a
                >
              </h4>
              <p class="product-excerpt">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatibus, odit.
              </p>
              <div
                class="product-bottom-details d-flex justify-content-between"
              >
                <div class="product-price">
                  <small>9200 руб.</small>
                  820 руб.
                </div>
                <div class="product-links">
                  <a href="#" class="btn btn-outline-dark add-to-cart"
                    ><i class="bi bi-cart4"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="product-card">
            <div class="product-card-offer">
              <div class="offer-hit">Hit</div>
              <div class="offer-new">New</div>
            </div>
            <div class="product-thumb">
              <a href="#"
                ><img src="{% static 'img/product/1.jfif' %}" alt=""
              /></a>
            </div>
            <div class="product-details">
              <h4>
                <a href="#"
                  >Product 1 Lorem ipsum dolor sit amet consectetur
                  adipisicing.</a
                >
              </h4>
              <p class="product-excerpt">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatibus, odit.
              </p>
              <div
                class="product-bottom-details d-flex justify-content-between"
              >
                <div class="product-price">
                  <small>5920 руб.</small>
                  920 руб.
                </div>
                <div class="product-links">
                  <a href="#" class="btn btn-outline-dark add-to-cart"
                    ><i class="bi bi-cart4"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="product-card">
            <div class="product-card-offer">
              <div class="offer-hit">Hit</div>
              <div class="offer-new">New</div>
            </div>
            <div class="product-thumb">
              <a href="#"
                ><img src="{% static 'img/product/2.jfif' %}" alt=""
              /></a>
            </div>
            <div class="product-details">
              <h4>
                <a href="#"
                  >Product 1 Lorem ipsum dolor sit amet consectetur
                  adipisicing.</a
                >
              </h4>
              <p class="product-excerpt">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatibus, odit.
              </p>
              <div
                class="product-bottom-details d-flex justify-content-between"
              >
                <div class="product-price">
                  <small>7920 руб.</small>
                  3920 руб.
                </div>
                <div class="product-links">
                  <a href="#" class="btn btn-outline-dark add-to-cart"
                    ><i class="bi bi-cart4"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="product-card">
            <div class="product-card-offer">
              <div class="offer-hit">Hit</div>
              <div class="offer-new">New</div>
            </div>
            <div class="product-thumb">
              <a href="#"
                ><img src="{% static 'img/product/3.jfif' %}" alt=""
              /></a>
            </div>
            <div class="product-details">
              <h4>
                <a href="#"
                  >Product 1 Lorem ipsum dolor sit amet consectetur
                  adipisicing.</a
                >
              </h4>
              <p class="product-excerpt">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatibus, odit.
              </p>
              <div
                class="product-bottom-details d-flex justify-content-between"
              >
                <div class="product-price">
                  <small>2920 руб.</small>
                  1920 руб.
                </div>
                <div class="product-links">
                  <a href="#" class="btn btn-outline-dark add-to-cart"
                    ><i class="bi bi-cart4"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="product-card">
            <div class="product-card-offer">
              <div class="offer-hit">Hit</div>
              <div class="offer-new">New</div>
            </div>
            <div class="product-thumb">
              <a href="#"
                ><img src="{% static 'img/product/2.jfif' %}" alt=""
              /></a>
            </div>
            <div class="product-details">
              <h4>
                <a href="#"
                  >Product 1 Lorem ipsum dolor sit amet consectetur
                  adipisicing.</a
                >
              </h4>
              <p class="product-excerpt">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatibus, odit.
              </p>
              <div
                class="product-bottom-details d-flex justify-content-between"
              >
                <div class="product-price">
                  <small>6920 руб.</small>
                  3920 руб.
                </div>
                <div class="product-links">
                  <a href="#" class="btn btn-outline-dark add-to-cart"
                    ><i class="bi bi-cart4"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="product-card">
            <div class="product-card-offer">
              <div class="offer-hit">Hit</div>
              <div class="offer-new">New</div>
            </div>
            <div class="product-thumb">
              <a href="#"
                ><img src="{% static 'img/product/3.jfif' %}" alt=""
              /></a>
            </div>
            <div class="product-details">
              <h4>
                <a href="#"
                  >Product 1 Lorem ipsum dolor sit amet consectetur
                  adipisicing.</a
                >
              </h4>
              <p class="product-excerpt">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatibus, odit.
              </p>
              <div
                class="product-bottom-details d-flex justify-content-between"
              >
                <div class="product-price">
                  <small>4920 руб.</small>
                  2920 руб.
                </div>
                <div class="product-links">
                  <a href="#" class="btn btn-outline-dark add-to-cart"
                    ><i class="bi bi-cart4"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="product-card">
            <div class="product-card-offer">
              <div class="offer-hit">Hit</div>
              <div class="offer-new">New</div>
            </div>
            <div class="product-thumb">
              <a href="#"
                ><img src="{% static 'img/product/3.jfif' %}" alt=""
              /></a>
            </div>
            <div class="product-details">
              <h4>
                <a href="#"
                  >Product 1 Lorem ipsum dolor sit amet consectetur
                  adipisicing.</a
                >
              </h4>
              <p class="product-excerpt">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatibus, odit.
              </p>
              <div
                class="product-bottom-details d-flex justify-content-between"
              >
                <div class="product-price">
                  <small>4920 руб.</small>
                  2920 руб.
                </div>
                <div class="product-links">
                  <a href="#" class="btn btn-outline-dark add-to-cart"
                    ><i class="bi bi-cart4"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "includes/pagination.html" %}
    </div>
  </div>
</div>
{% endblock %}
