{% extends "base.html" %} {% load static %} 
{% block title %}Checkoutpage{% endblock %} 

{% block content %} 

{% include "includes/breadcrumb.html" %}

<div class="container-fluid">
  <form action="" class="needs-validation" novalidate>
    <div class="row">
      <div class="col-lg-8 mb-3">
        <div class="checkout p-3 h-100 bg-white">
          <h1 class="section-title h5"><span>Оформление заказа</span></h1>
          <div class="row g-3">           
            <div class="col-md-6">
              <label for="name" class="form-label">Доставка</label>
              <select class="form-select" aria-label="Default select example" id="shipmethod" name="delivery_id" onchange="toggleAdditionalCol()">
                <option selected>Выберите способ доставки</option>
                <option value="1" data-type="img">Почта России (russianpost.ru)</option>
                <option value="2" data-type="img">EMS Почта России</option>
                <option value="4" data-type="img">Байкал сервис</option>
                <option value="5" data-type="img">Деловые линии</option>
                <option value="6" data-type="img">ЖелДор Экспедиция</option>
                <option value="7" data-type="img">ПЭК</option>
                <option value="8" data-type="img">Кит - транспортная компания</option>
                <option value="9" data-type="img">Энергия</option>
                <option value="10" data-type="map">СДЭК</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="name" class="form-label">Фамилия Имя Отчество</label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                placeholder="Иванов Иван Иванович"
                aria-label="name"
                autocomplete="name"
              />
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label">Электронный адрес</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="ivanov@mail.ru"
                aria-label="email"
                autocomplete="name"
              />
            </div>
            <div class="col-md-6">
              <label for="phone" class="form-label">Телефон</label>
              <input
                type="tel"
                id="phone"
                name="phone"
                class="form-control"
                placeholder="+79182223434"
                aria-label="phone"
                autocomplete="name"
              />
            </div>
            <div class="col-md-6">
              <label for="region" class="form-label">Регион</label>
              <input
                type="text"
                id="region"
                name="region"
                class="form-control"
                placeholder="Ставропольский край"
                aria-label="region"
                autocomplete="name"
              />
            </div>
            <div class="col-md-6">
              <label for="city" class="form-label">Город</label>
              <input
                type="text"
                id="city"
                name="city"
                class="form-control"
                placeholder="Ессентуки"
                aria-label="city"
                autocomplete="name"
              />
            </div>
            <div class="col-md-6">
              <label for="address" class="form-label">Адрес</label>
              <input
                type="text"
                id="address"
                name="address"
                class="form-control"
                placeholder="ул.Московская дом 5 кв 34"
                aria-label="address"
                autocomplete="name"
              />
            </div>
            <div class="col-md-6" id="additionalCol" style="display: none;">
              <label for="pasport_info" class="form-label">Паспортные данные</label>
              <input type="text" id="pasport_info" name="pasport_info" class="form-control" placeholder="Серия и номер" aria-label="pasport_info">
            </div>
            <div class="col-12">
              <label for="comment" class="form-label"
                >Комментарии к заказу</label
              >
              <textarea
                class="form-control"
                name="comment"
                id="comment"
                rows="3"
                placeholder="Комментарий"
              ></textarea>
            </div>
            <div class="col-md-6">
              <div class="form-input-row checkbox">
                <input id="no_replace_products" type="checkbox" name="no_replace_products" value="true">
                <span for="no_replace_products">Не предлагать замену товаров</span>
              </div>
              <div class="form-input-row checkbox">
                <input id="not_insure_cargo_products" type="checkbox" name="not_insure_cargo_products" value="true">
                <span for="not_insure_cargo_products">Cтраховать груз</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="cart-summary p-3 bg-white sidebar h-100">
          <h5 class="section-title"><span>Общая сумма заказа</span></h5>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Продукт</th>
                  <th class="text-end">Цена</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Product 1 Lorem ipsum, dolor sit amet consectetur
                    adipisicing. <small>1050 руб. x 3</small>
                  </td>
                  <td class="text-end">3150 руб.</td>
                </tr>
                <tr>
                  <td>Product 2 <small>2000 руб. x 1</small></td>
                  <td class="text-end">2000 руб.</td>
                </tr>
                <tr>
                  <td>Product 3<small>1500 руб. x 2</small></td>
                  <td class="text-end">3000 руб.</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2" class="text-end">
                    8150 руб.
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="form-input-row checkbox">
            <input id="conditions" type="checkbox" name="conditions" value="Y" checked="checked">
            <span for="conditions">Я соглашаюсь с <a target="_blank" href="{% url 'home:conditions' %}">условиями сотрудничества</a></span>
          </div>
          <div class="form-input-row checkbox">
            <input id="personal_data" type="checkbox" name="personal_data" value="Y" checked="checked">
            <span for="personal_data">Я соглашаюсь на обработку моих персональных данных в соответствии с <a href="#" id="policyLink" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">политикой конфиденциальности</a></span>
          </div>
          <div class="d-grid mt-3">
            <button type="submit" href="" class="btn btn-outline-dark">Оформить</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="privacyPolicyModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="privacyPolicyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="privacyPolicyModalLabel">Политика конфиденциальности</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Здесь будет текст вашей политики конфиденциальности...</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
