{% extends "base.html" %} {% load static %} 
{% block title%}Сonditionspage{%endblock %} {% block content %} 
{% include "includes/breadcrumb.html" %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 mb-3">
        <div class="conditions p-3 h-100 bg-white">
            <div class="htmlDataBlock">
                <h1 class="section-title h5"><span>Условиями сотрудничества</span></h1>
            <ul>
                <li><span style="font-size:14px;">Минимальная сумма заказа - 2000 руб.&nbsp;</span></li>
                <li><span style="font-size:14px;">Заказ можем отправить сразу на вашего клиента.</span></li>
                <li><span style="font-size:14px;">Отправка заказов следующими ТК на Ваш выбор: ПЭК, Байкал-Сервис, Автотрейдинг, Деловые Линии, СДЭК, Кит, ТК Энергия. Так же отправляем почтой.</span></li>
            </ul>
            <span style="font-size:14px;">Доставка до транспортной компании осуществляется платно.&nbsp;Отправка из г. Москва Доставка до почты 150 руб. Доставка до ТК 300 руб. <strong>При заказе от 10000 руб. - доставка до ТК и почты бесплатная</strong>.</span><br>
            <br>
            <span style="font-size:14px;">ВНИМАНИЕ! Убедительно просим осознанно, внимательно и тщательно формировать свои заявки. Заказы собираются индивидуально строго под каждого клиента. То что уже отложено убирать из заказа нельзя. После того как заказ собран, если нет какой либо модели можно сделать замену или отправляем без отсутствующих позиций.<br>
            <br>
            Ответственность:</span><br>
            <span style="font-size:14px;">! - Распаковка дома: после принятия посылки, пожалуйста, снимите на видео одним общим планом (максимально широкий угол обзора камеры) ее распаковку.<br>
            Мы не несем ответственность за отсутствия позиций в заказе БЕЗ ВИДИОФИКСАЦИИ.&nbsp;</span><br>
            <br>
            <span style="font-size:14px;">Возврат товара:<br>
            <br>
            • Обмен товара производится только в случае производственного брака. Доставка за наш счет.&nbsp;<br>
            <br>
            Что в этом случае нужно делать:<br>
            <br>
            1. Прислать нам письмо на email cozyopt@gmail.com с номером заказа, к письму обязательно приложить фото брака.<br>
            2. Отправить брак в течении 14 дней с момента получения заказа, обычной посылкой, Почтой России, прислать трек номер на email cozyopt@gmail.com<br>
            3. Возврат производится только при наличии фото брака.</span><p></p>
              </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
