{% extends "base.html" %} {% load static %} 
{% block title%}{{ title }}{%endblock %} {% block content %} 

<div class="container-fluid">
  <div class="row">
    <div class="col-10 mb-3 offset-1">
        <div class="conditions p-3 h-100 bg-white">
          {% for i in delivery_info %}
            <div class="htmlDataBlock">
              <h1 class="section-title h5"><span>{{ i.title }}</span></h1>
              </div>
              <div class="description__page">
              {{ i.description|safe }}
              </div>  
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
</div>
{% endblock %}
