{% extends "base.html" %} {% load static %} 
{% block title%}Сonditionspage{%endblock %} {% block content %} 
{% include "includes/breadcrumb.html" %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 mb-3">
        <div class="conditions p-3 h-100 bg-white">
          {% for i in delivery_info %}
            <div class="htmlDataBlock">
              <h1 class="section-title h5"><span>{{ i.title }}</span></h1>
              </div>
              <div class="description__page">
              {{ i.description|linebreaks }}
              </div>  
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
</div>
{% endblock %}
