{% extends "base.html" %} {% load static %} 
{% block title%}Сonditionspage{%endblock %} {% block content %} 
{% include "includes/breadcrumb.html" %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 mb-3">
        <div class="conditions p-3 h-100 bg-white">
            <div class="htmlDataBlock">
              <h1 class="section-title h5"><span>Условия работы: основной каталог</span></h1>
            </div>
            <div class="description__page">
            <p><br>
            <span style="font-size:14px;">Мы работаем только оптом. С огранизаторами СП, магазинами.<br>
            <br>
            Основной каталог:<br>
            Отправка заказов осуществляется после зачисления средств на наш счет кроме выходных следующими ТК на Ваш выбор: ПЭК, Байкал-Сервис, Желдорэкспедиция, Меджик транс, Азбука логистики, Деловые Линии, Кит, ТК Энергия, ТК СДЭК. Оплата за отправку осуществляется при получении. Ориентировочную стоимость отправки Вы можете узнать на сайте ТК. Стоимость отправки зависит от веса, объема, расстояния и определяется когда ваш заказ полностью собран. Вы сами можете узнать ориентировочную стоимость отправки, воспользовавшись калькулятором на сайте ТК. После отправки Вашего заказа присылаем данные для отслеживания. Так же отпраляем Почтой Росии. Отправка почтой РФ, доставку вы оплачиваете сразу. Отправляем заказы 1-2 раза в неделю.<br>
            <strong>Отправляем Яндекс доставкой и Авито доставкой почтой.</strong><br>
            <br>
            Доставка до ТК - 300 руб.<br>
            Доставка до почты - 150 руб.<br>
            Заказы свыше 10 000 руб. - доставка до ТК&nbsp; и почты <strong>бесплатная</strong>.<br>
            <br>
            * При отправке ТК Байкал-Сервис и ТК Деловые Линии, их филиал может взымать дополнительную плату за въезд на территорию к основному складу - 100 руб.<br>
            <br>
            ВНИМАНИЕ! Убедительно просим осознанно, внимательно и тщательно формировать свои заявки. Заказы собираются индивидуально строго под каждого клиента. То что уже отложено убирать из заказа нельзя. После того как заказ собран, если нет какой либо модели можно заменить или отправляем как есть.&nbsp;<br>
            <br>
            Предоплата. Предоплата за заказ составляет 70-80% от заказа. Маленькие заказы, менее 10000 рублей - предоплата 100%.<br>
            <br>
            Пересорт. Мы оптовая компания, поэтому пересорт может быть, но он сведен к минимуму. Возврат товара только в случае брака.<br>
            Стоимость отправки бракованного товара за наш счет.<br>
            <br>
            Что&nbsp;нужно делать, если получил брак:</span><br style="font-size: 14px;">
            <br style="font-size: 14px;">
            <span style="font-size: 14px;">1. Прислать нам письмо на email cozyopt@gmail.com с номером заказа, к письму обязательно приложить фото брака.</span><br style="font-size: 14px;">
            <span style="font-size: 14px;">2. Отправить брак в течении 14 дней с момента получения заказа, обычной посылкой, Почтой России, прислать трек номер на email cozyopt@gmail.com</span><br style="font-size: 14px;">
            <span style="font-size:14px;">3. Возврат производится только при наличии фото брака.</span><br>
            <br>
            ! - Распаковка дома: после принятия посылки, пожалуйста, снимите на видео одним общим планом (максимально широкий угол обзора камеры) ее распаковку.<br>
            Мы не несем ответственность за отсутствия позиций в заказе БЕЗ ВИДИОФИКСАЦИИ.&nbsp;<br>
            <br>
            <span style="font-size:14px;">Необходимые данные получателя для отправки Ваших заказов:<br>
            <br>
            Почта, EMS - полный адрес с индексом, ФИО и номер телефона<br>
            <br>
            ТК "Байкал-Сервил", "Деловые Линии" - город, ФИО, номер телефона и паспортные данные.<br>
            <br>
            ТК "ПЭК", "Кит" "ЖелдорЭкспедиция" "Автотрейдинг" "Энергия" - город, ФИО и номер телефона.</span><br>
            <br>
            <br>
            <span style="font-size:16px;"><strong>Оплата</strong></span><br>
            <br>
            <span style="font-size:14px;">1. На Qiwi-кошелек . В примечаниях указывайте ФИО.<br>
            <br>
            2. На карту "СберБанка"<br>
            Реквизиты для оплаты отправляются вместе с выставленным счетом на email</span>
            </div>  
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
