{% extends "base.html" %} {% load static %} 
{% block title%}Homepage{% endblock %}

{% block content %}

<div id="carousel" class="carousel slide carousel-fade" data-bs-ride="true">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    {% for i in slider_image %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <img
        src="{{ i.image.url }}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    {% endfor %}
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="advantages">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">
                    <span>Наши преимущества</span>
                </h2>
            </div>
        </div>
        <div class="items">
            <div class="row gy-3">
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <p><i class="bi bi-truck"></i></p>
                        <p>Прямые поставки от производителей брендов</i></p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <p><i class="bi bi-boxes"></i></i></p>
                        <p>Широкий ассортимент товаров</i></p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <p><i class="bi bi-currency-exchange"></i></i></p>
                        <p>Конкурентные цены</i></p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <p><i class="bi bi-person-square"></i></i></p>
                        <p>Быстрая консультация клиентов</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="featured-products">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="section-title">
          <span>Хиты продаж</span>
        </h2>
      </div>
    </div>
    <div class="row">
    {% for product, cart_product_form in cart_product_form %}
    {% with first_image=product.images.first %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
          <div class="product-card">
          <div class="product-card-offer">
              <!-- <div class="offer-hit">Hit</div> -->
              <!-- <div class="offer-new">New</div> -->
          </div>
          <div class="product-thumb">
              <a href="{{ product.get_absolute_url }}">
                  <img src="{{ first_image.image.url }}" alt="{{ product.title }}"/>
              </a>
          </div>
          <div class="product-details">
              <h4>
                  <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
              </h4>
              <div class="product-bottom-details d-flex justify-content-between align-items-center">
                <div class="product-price">
                  {% if product.min_price %}
                      {{ product.min_price }} ₽
                  {% else %}
                      Цена не указана
                  {% endif %}
              </div>
                  <button type="button" class="btn btn-outline-dark add-to-cart" 
                          data-bs-toggle="modal" 
                          data-bs-target="#product_Link_add_Modal_{{ product.id }}" 
                          data-product-id="{{ product.id }}" 
                          data-product-title="{{ product.title }}" 
                          data-product-price="{{ cart_product_form.fields.size.choices }}">
                      <i class="bi bi-cart4"></i>
                  </button>
              </div>
          </div>

          <div class="modal fade" id="product_Link_add_Modal_{{ product.id }}" tabindex="-1" aria-labelledby="product_Link_add_ModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title fs-5" id="product_Link_add_ModalLabel">Добавить в корзину: {{ product.title }}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                      </div>
                      <div class="modal-body">
                          <div class="col-sm-5 productView__articles mb-0">
                              <span>Артикул:</span>
                              <span class="goodsModArtNumber">{{ product.article_number }}</span>
                          </div>
                          <div class="product-price product-price-category" id="price-display-{{ product.id }}">
                            
                            {% if cart_product_form.fields.size.choices %}
                              {{ cart_product_form.fields.size.choices }}
                              {% else %}
                                Цена не указана
                              {% endif %}
                          </div>
                          <form action="{% url 'cart:cart_add' product.id %}" method="post"> 
                              {% csrf_token %}
                              <div class="col-sm-5 quantity-product-modal">
                              <input name="quantity" type="number" class="form-control" value="{{ cart_product_form.quantity.value|default:1 }}" min="1"/>
                              </div>
                              <br>
                              <div class="col-sm-5 select-size">
                                <label for="size-select_product_{{ product.id }}" class="form-label">Выбирите размер:</label>
                              <select name="size" class="form-control custom-select" id="size-select_product_{{ product.id }}" aria-label="Выберите размер" {% if cart_product_form.fields.size.required %}required{% endif %}>
                                  {% for value, price in cart_product_form.fields.size.choices %}
                                      <option value="{{ value }}" {% if cart_product_form.size.value == value %}selected{% endif %} data-price="{{ price }}">{{ value }}</option>
                                  {% endfor %}
                              </select>
                              <br>
                            </div>
                              {{ cart_product_form.override }}
                              <button type="submit" class="btn btn-dark" value="Add to cart">
                                  <i class="bi bi-cart4 me-2"></i>Добавить
                              </button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
    {% endwith %}
    {% endfor %}
    </div>
  </div>
</section>

<section class="about-us" id="about">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="section-title">
          <span>О нас</span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Оптовая компания Cozy предлагает сотрудничество в сфере реализации товаров для дома и одежды для всей семьи, сделанной в Турции, России и Китае. Мы предлагаем самые низкие цены в Интернете.</p>
      </div>
    </div>
  </div>
</section>
<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2867.757590022587!2d42.88130317635388!3d44.047062671086145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4057835f9db07e35%3A0x419b107960d50a58!2z0YPQuy4g0J7RgNC00LbQvtC90LjQutC40LTQt9C1LCA0NCwg0JXRgdGB0LXQvdGC0YPQutC4LCDQodGC0LDQstGA0L7Qv9C-0LvRjNGB0LrQuNC5INC60YDQsNC5LCAzNTc2MzU!5e0!3m2!1sru!2sru!4v1737808964578!5m2!1sru!2sru" width="100%" height="450" style="border:0; display:block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></display:block>></iframe>
{% endblock %}
