{% extends "base.html" %} {% load static %} 
{% block title%}{{ title }}{%endblock %} 

{% block content %} 

<div class="container-fluid">
  <div class="row">
    <div class="col-10 mb-3 offset-1">
      <div class="reviews">
        {% for i in news %}
    <div class="card product-reviews mb-3">
        <div class="card-body">
            <div class="product-reviews-header d-flex justify-content-between">
                <h5 class="card-title">{{ i.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ i.created }}</h6>
            </div>
            <div class="card-text">
                <p>{{ i.description|striptags|truncatechars_html:100|safe }}...</p>  <!-- Ограничиваем до 100 символов -->
                <a href="#" class="read-more" onclick="toggleDescription(event, '{{ i.id }}')">Читать полностью</a>
                <div id="full-description-{{ i.id }}" class="full-description" style="display: none;">
                    <p>{{ i.description|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
      </div>
  </div>
</div>
<script>
    function toggleDescription(event, id) {
      event.preventDefault();  // Предотвращаем прокрутку страницы
      const fullDesc = document.getElementById('full-description-' + id);
      if (fullDesc.style.display === 'none' || fullDesc.style.display === '') {
        fullDesc.style.display = 'block';
      } else {
        fullDesc.style.display = 'none';
      }
      // Дополнительно: можно менять текст ссылки
      const link = event.target;
      link.textContent = fullDesc.style.display === 'block' ? 'Свернуть' : 'Читать полностью';
    }
    </script>
{% endblock %}