{% extends "base.html" %} {% load static %} 
{% block title%}Новости{%endblock %} 

{% block content %} 

{% include "includes/breadcrumb.html" %}


<div class="container-fluid">
  <div class="row">
      <div class="reviews">
        {% for i in news %}
    <div class="card product-reviews mb-3">
        <div class="card-body">
            <div class="product-reviews-header d-flex justify-content-between">
                <h5 class="card-title">{{ i.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ i.created }}</h6>
            </div>
            <div class="card-text">
                <p>{{ i.description|truncatechars:100 }}...</p>  <!-- Ограничиваем до 100 символов -->
                <a href="#" class="read-more" onclick="toggleDescription(event, '{{ i.id }}')">Читать полностью</a>
                <div id="full-description-{{ i.id }}" class="full-description" style="display: none;">
                    <p>{{ i.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
      </div>
  </div>
</div>
{% endblock %}