{% extends "base.html" %} {% load static %} 
{% block title%}Reviewspage{%endblock %} 

{% block content %} 

{% include "includes/breadcrumb.html" %}


<div class="container-fluid">
  <div class="row">
      <div class="reviews">
          <div class="card product-reviews mb-3">
              <div class="card-body">
                  <div class="product-reviews-header d-flex justify-content-between">
                      <h5 class="card-title">Новость</h5>
                      <h6 class="card-subtitle mb-2 text-muted">27.02.2025</h6>
                  </div>
                  <div class="card-text">
                      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem repellendus aperiam voluptas quod minus veniam recusandae possimus consequuntur similique numquam unde, quae velit aliquid maiores illo a, exercitationem aut harum!</p>
                  </div>
              </div>
          </div>
          <div class="card product-reviews mb-3">
              <div class="card-body">
                  <div class="product-reviews-header d-flex justify-content-between">
                      <h5 class="card-title">Новость</h5>
                      <h6 class="card-subtitle mb-2 text-muted">27.02.2025</h6>
                  </div>
                  <div class="card-text">
                      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem repellendus aperiam voluptas quod minus veniam recusandae possimus consequuntur similique numquam unde, quae velit aliquid maiores illo a, exercitationem aut harum!</p>
                  </div>
              </div>
          </div>
          <div class="card product-reviews mb-3">
              <div class="card-body">
                  <div class="product-reviews-header d-flex justify-content-between">
                      <h5 class="card-title">Новость</h5>
                      <h6 class="card-subtitle mb-2 text-muted">27.02.2025</h6>
                  </div>
                  <div class="card-text">
                      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem repellendus aperiam voluptas quod minus veniam recusandae possimus consequuntur similique numquam unde, quae velit aliquid maiores illo a, exercitationem aut harum!</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}