{% extends "base.html" %} {% load static %} 
{% block title%}{{ product.title }}{%endblock %} 

{% block content %} 

<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 col-lg-4 mb-3">
      <div class="bg-white h-100">
        <div
          id="carouselExampleFade"
          class="carousel slide carousel-dark"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            {% for r in product.images.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img
                src="{{ r.image.url }}"
                class="d-block w-100"
                alt="..."
              />
            </div>
            {% endfor %}
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-lg-8 mb-3">
      <div class="bg-white product-content p-3 h-100">
        <div class="product-title-favorites mb-0 d-flex justify-content-between align-items-center">
          <h1 class="section-title h3 mb-0"><span>{{ product.title }}</span></h1>
            <!-- <a href="#" class="btn add-favorites">
              <i class="bi bi-heart-fill me-2"></i>
              <span>В избранное</span>
            </a> -->
            <div class="productView__articles mb-0">
              <span>Артикул:</span>
              <span class="goodsModArtNumber">{{ product.article_number }}</span>
            </div>
          </div>
        <div class="product-price-article_number d-flex justify-content-between align-items-center">
          <div class="product-price mb-0" id="price-display">
                {{ price }} ₽ <!-- Устанавливаем цену по умолчанию из первого элемента -->
          </div>
          
        </div>        
        <div class="product-add2cart">
          <div class="input-group">
            <form action="{% url "cart:cart_add" product.id %}" method="post"> 
              {% csrf_token %}
              <label for="size-select_product">Выберите количество:</label>
              <input name="quantity" type="number" class="form-control" value="{{ cart_product_form.quantity.value|default:1 }}" min="1"/>
                <label for="size-select_product">Выберите размер:</label>
              <select name="size" class="form-control custom-select" id="size-select_product" aria-label="Выберите размер" {% if cart_product_form.fields.size.required %}required{% endif %}> 
                  <option value="" disabled selected>Выберите размер</option>
                    {% for value, price in cart_product_form.fields.size.choices %}
                      <option value="{{ value }}" {% if cart_product_form.size.value == value %}selected{% endif %} data-price="{{ price }}">{{ value }}</option>
                    {% endfor %}
                </select>
              {{ cart_product_form.override }}
              <button type="submit" class="btn btn-dark" value="Add to cart">
                <i class="bi bi-cart4 me-2"></i>Добавить
              </button>
            </form>
          </div>
        </div>

        <!-- <div class="row mt-3">
          <div class="col-lg-4 mb-2">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="bi bi-shield-shaded"></i>Гарантия
                </h5>
                <ul class="list-unstyled">
                  <li>Описание</li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-2">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title"><i class="bi bi-truck"></i>Доставка</h5>
                <ul class="list-unstyled">
                  <li>Описание</li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-2">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="bi bi-credit-card"></i>Оплата
                </h5>
                <ul class="list-unstyled">
                  <li>Описание</li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->

        <div class="row mt-2">
          <div class="col-12">
            <div class="nav-bottom">
              <ul class="nav nav-tabs w-100" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="home-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#home-tab-pane"
                    type="button"
                    role="tab"
                    aria-controls="home-tab-pane"
                    aria-selected="true"
                  >
                    О таваре
                  </button>
                </li>
              </ul>
              <div class="tab-content mt-3" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="home-tab-pane"
                  role="tabpanel"
                  aria-labelledby="home-tab"
                  tabindex="0"
                >
                  <p>
                    {{ product.description|safe }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}