{% extends "base.html" %} {% load static %} 
{% block title %}{{ title }}{% endblock %}

{% block content %} 

<div class="container-fluid">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="row">
      <div class="col-md-6 offset-md-3 mb-3">
        <div class="checkout p-3 h-100 bg-white">
            <h1 class="section-title h5 text-center"><span>{{ title }}</span></h1>
            {% if user.photo %}
              <div class="img-profile">
              <p><img class="profile-img" src="{{ user.photo.url }}" alt="User  Photo"></p>
              </div>
            {% else %}
              <div class="img-profile">
              <p><img class="profile-img" src="/media/users/default.png" alt="Default User Photo"></p>
              </div>
            {% endif %}
            <input type="hidden" name="next" value="{{ next }}"/>
              <div class="form-error">{{ form.non_field_errors }}</div>
              {% for i in form %}
              <div class="mb-3">
                  <label class="form-label" for="{{ i.id_for_label }}">{{ i.label }}</label>
                  {{ i }}
                  <div class="form-error text-danger">{{ i.errors }}</div>
              </div>
              {% endfor %}
              <div class="registration-bottom">
                <button type="submit" class="btn btn-dark">Сохранить</button>
              </div>
        </div>
      </div>
  </div>
</form>
</div>

{% endblock %}



<!-- <div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12">
      <div class="page-register bg-white p-3 mb-3">
        <h1 class="section-title text-center h3"><span>{{ title }}</span></h1>
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}"/>
              <div class="form-error">{{ form.non_field_errors }}</div>
              {% for i in form %}
              <div class="mb-3">
                  <label class="form-label" for="{{ i.id_for_label }}">{{ i.label }}</label>
                  {{ i }}
                  <div class="form-error">{{ i.errors }}</div>
              </div>
              {% endfor %}
              <div class="registration-bottom">
                <button type="submit" class="btn btn-dark">Сохранить</button>
              </div>
            </form>
            <hr>
            <div class="profile-link">
            <p><a href="{% url 'users:password_change' %}">Сменить пароль</a></p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
