/*==========================Home Page======================*/

img {
  max-width: 100%;
  height: auto;
}

.btn,
.dropdown-menu,
.form-control {
  border-radius: 0;
}

.form-control:focus {
  border-color: black;
  box-shadow: none;
}

.btn-outline-dark {
 transition: all .3s;
}

.btn-outline-dark:hover {
  background-color: dodgerblue;
}

/*==========================General rules======================*/

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main.main {
  flex: 1 1 auto;
}

section{
    padding: 50px 0;
}

.section-title{
    position:relative;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}



/*==========================Advantages======================*/

.advantages .items{
    margin-top: 50px;
}

.advantages .items .item{
    background-color: #fff;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all .3s;
}

.advantages .items .item:hover{
    box-shadow: 0 15px 30px -20px rgba(0, 0, 0, .6);
}


.advantages i{
    font-size: 70px;
    color: black;
}



/*==========================Header rules======================*/

.header-top-phone a {
  color: #fff;
  text-decoration: none;
  transition: all .3s;
}

.header-top span{
  font-size: 16px;
}

.header-top-phone a:hover {
  text-decoration: underline;
  color: dodgerblue;
}

.header-time-work a{
  color: #fff;
  text-decoration: none;
  transition: all .3s;
}

.header-time-work a:hover{
  color: dodgerblue;
}


.header-top .btn {
  color: #fff;
}

.time-work {
  height: 100%;
}

.header-img-logo {
  max-width: 160px; /* Установите желаемую ширину */
  height: auto; /* Высота будет автоматически подстраиваться */
}


.cart-buttons-navbar .btn{
  color: black;
  transition: 0.3s all;
  letter-spacing: 0.1rem;
}


.cart-buttons-navbar i{
  font-size: 25px;
}


.cart-buttons-navbar .btn:hover {
  color: dodgerblue;
}

.cart-buttons-navbar .btn{
  outline: none; /* Убираем обводку при нажатии */
  border: none; /* Убираем бордер при нажатии */
}


.offcanvasCart-table .product-img-td{
  width: 70px;
  text-align: center;

}

.offcanvasCart-table img{
  max-width: 50px;
}


.offcanvasCart-table a{
  text-decoration: none;
  display: block; 
}

.offcanvasCart-table a:hover{
  text-decoration: underline;
}


.header-top-account .btn{
  border:none;
  padding: 0;
  font-size:var(--bs-body-font-size);
}

.header-top-account .btn{
  transition: all .5s;
}

.header-top-account .btn:hover{
  color: dodgerblue;
}

.dropdown-toggle::after{
  margin: 0;
}

        
/*==========================Header media======================*/
@media (max-width: 575.98px) {
  .account-label {
      display: none; /* Скрываем на экранах меньше 576px */
  }
}


@media (max-width: 767.98px) {
  .header-logo-main {
      width: 100%; /* Установите желаемую ширину */
      text-align: center;
      align-items: center;
      padding-bottom: 12px;
  }
}

@media (max-width: 575.98px) {
  .header-logo-main {
      width: 50%; /* Установите желаемую ширину */
      text-align: start;
      align-items: center;
      padding-bottom: 12px;
  }
}


@media (max-width: 767.98px) {
  .header-search {
      width: 70%; /* Установите желаемую ширину */
      text-align: center;
      align-items: center;
  }
}

@media (max-width: 767.98px) {
  .header-cart-bottom {
      width: 30%; /* Установите желаемую ширину */
      align-items: center;
  }
}

@media (max-width: 575.98px) {
  .header-search {
      width: 100%; /* Установите желаемую ширину */
      text-align: center;
      order: 2;
      align-items: center;
  }
}

@media (max-width: 575.98px) {
  .header-cart-bottom {
      width: 50%; /* Установите желаемую ширину */
      order: 1;
      align-items: center;
  }
}

/*==========================Featured products======================*/


/*==========================Footer======================*/


.footer-top{
  background-color: black;
  padding: 50px 0;
  color: #fff;
}

.footer a{
  color: #fff;
  text-decoration: none;
  transition: all .3s;
}

.footer a:hover{
  color: dodgerblue;
}

.footer-icons {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  font-size: 20px;
}

.footer-bottom{
  background: black;
  font-size: 16px;
  color: #fff;
}

.footer-bottom {
  padding: 10px 0;
}

.footer-img-logo{
  max-width: 160px; /* Установите желаемую ширину */
  height: auto; /* Высота будет автоматически подстраиваться */
}


/*==========================button-top======================*/

#top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  opacity: .5;
  color: #fff;
  width: 70px;
  height: 70px;
  border: 0;
  font-size: 25px;
  transition: all .5s;
  z-index: 10;
  display: none;
}

#top:hover{
  opacity: 1;

}

/*==========================Product card======================*/
.product-card{
  transition: all .3s;
  /* border: 1px solid black; */
  background-color: #fff;
  position: relative;
}

.product-card:hover{
  box-shadow: 0 10px 20px -15px rgba(0,0,0,0.75);
}

.product-card-offer{
  color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
  text-transform: uppercase;

}

.product-card-offer>div{
  border-radius: 50%;
  width: 40PX;
  height: 40PX;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}


.offer-hit{
  background-color: red;
}

.offer-new{
  background-color: dodgerblue;
}

.product-thumb img, .pagination{
  text-align: center;
}

.product-details{
  padding: 10px 20px;
}

.product-details h4{
  font-size: 1.2rem;
}

.product-details h4 a{
  height: 45px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-decoration: none;
  transition: all .3s;
  color: black;
}

.product-details h4 a:hover{
  color: dodgerblue;
}


.product-excerpt{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 45px;
  overflow: hidden;
}


.product-bottom-details{
  border-top: 1px solid black;
  padding-top: 1rem;
}

.product-price{
  font-size: 18px;
  color: black;
  font-weight: 600;
  border: 1px dashed black;
  border-left: 0;
  border-right: 0;
  padding: 12px 0;
}


.about-us p {
  font-weight: bold;
  overflow: hidden;
  color: black;
  font-size: 25px;
}

/*==========================Header rules madia======================*/


/*==========================Category Page======================*/

.category-list {
  background-color: #fff;
  padding: 0.5rem 1rem 0.5rem;
}

.breadcrumbs ul{
  margin: 30px 0;
  background-color: #fff;
  padding: 1rem;
  list-style: none;
  display: flex;
}

.breadcrumbs a{
  text-decoration: none;
  color: black;
  transition: all .5s;
  margin-right: 0.5rem;
}

.breadcrumbs a:hover{
  color: dodgerblue;
}

.breadcrumbs a::after{
  content: '/';
  padding-left: 0.5rem;
  color: black;
}


.sidebar {
  background-color: #fff;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.sidebar .section-title span{
  background-color: #fff;
}

.filter-block:not(:last-child) {
  margin-bottom: 2rem;
}

.filter-block .form-check{
  margin-bottom: 0.5rem;
}

.form-check-input[type="checkbox"]{
  border-radius: 0;
  border-color: var(--gray-color);
}

.form-check-input:focus{
  box-shadow: none;
  border-color: black;
}

.form-check-input:checked{
  background-color: black;
  border-color: black;
}

.filter-block .badge{
  color: black;
}

.form-select {
  border-radius: 0;
  border-color: black;
}

.form-select:focus {
  outline: none; /* Убираем стандартную рамку фокуса */
  box-shadow: none; /* Убираем тень вокруг элемента */
  border-color: initial; /* Убираем изменение цвета границы (если нужно) */
}

.input-group span{
  border-radius: 0;
}


.catalog-item-link a{
  text-decoration: none;
  color: black;
  transition: all .3;
}

.catalog-item-link a:hover{
  color: dodgerblue;
}

/* ====================Pagination-Categorypage============ */

.pagination .page-item .page-link{
  border-radius: 0;
  border-color: black;
}

.pagination{
  margin-bottom: 8px;
}

.page-link{
  color: black;
  transition: all .3s;
}

.page-link:focus{
  box-shadow: none;
  border-color: initial;
}
.page-link:hover{
  background-color: dodgerblue;
  color: #fff;
}

.active>.page-link, .page-link.active {
  color: #fff;
  background-color: dodgerblue;
}

/* ====================Media-Productpage============ */

@media only screen and (min-width: 768px) {
  
  .sidebar .collapse-category{
    display: block;
  }
}

/*==========================Product Page======================*/


.product-content .product-price {
  font-size: 25px;
  margin-bottom: 1rem;
}

.product-content .input-group{
  width: 200px;
}

.product-content .card-title i{
  margin-right: 0.5rem;
}

.productView__links{
  margin-bottom: 1rem;
}

.productView__links a{
  padding: 0;
  font-size: 18px;
  color: black;
  transition: all .3s;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: none;
}

.productView__links a:hover{
  color: dodgerblue;
}

.productView__links a:focus {
  outline: none; /* Убираем обводку при фокусировке */
  border: none; /* Убираем бордер при фокусировке */
}



.card{
  border-radius: 0;
}

.nav-tabs .nav-link{
  border-radius: 0;
}

.nav-link{
  color: black;
  transition: all .3s;
} 

.nav-link:hover{
  color: dodgerblue;
} 

.productView__articles{
  font-size: 18px;
  margin-bottom: 1rem;
}


.size-product{
  margin-bottom: 1rem;
  max-width: 200px;
}

.product-add2cart{
  margin-bottom: 1rem;
}

/*==========================Cart page======================*/

.cart-content table img{
  max-width: 50px;
}

.cart-content table th{
  text-align: center;
}

.cart-content table td{
  padding: 1rem;
}

.cart-content-title {
  text-decoration: none;
  display: block;
}

.cart-qty{
  width: 70px;
}

.btn-coupon{
  color: red;
  transition: all .3s;
  text-decoration: none;
}

.btn-coupon:hover{
  color: dodgerblue;
}

.cart-summary .btn{
  padding: 1rem;
}

/*==========================Checkout page======================*/

textarea{
  resize: none;
}

.modal-content{
  border-radius: 0;
}


/*==========================Contacts page======================*/

.contacts-link a{
  color: black;
  text-decoration: none;
  transition: all .3s;
}

.contacts-link a:hover{
  color: dodgerblue;
}
