{% extends "admin/base_site.html" %}

{% block content %}
{{ block.super }}

<h2 style="text-align: center; color: #333; font-family: 'Arial', sans-serif;">Топ 60 товаров за месяц</h2>
<ul style="list-style-type: none; padding: 0; margin: 20px 0;">
    {% for product in top_products_month %}
        <li style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px; padding: 10px; margin-bottom: 10px; transition: background-color 0.3s;">
            {{ product.product__title }} (Артикул: {{ product.product__article_number }}): <strong>{{ product.total_quantity }}</strong> шт. продано
        </li>
    {% empty %}
        <li style="text-align: center; color: #999;">Нет данных за последний месяц.</li>
    {% endfor %}
</ul>

<h2 style="text-align: center; color: #333; font-family: 'Arial', sans-serif;">Топ 60 товаров за три месяца</h2>
<ul style="list-style-type: none; padding: 0; margin: 20px 0;">
    {% for product in top_products_three_months %}
        <li style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px; padding: 10px; margin-bottom: 10px; transition: background-color 0.3s;">
            {{ product.product__title }} (Артикул: {{ product.product__article_number }}): <strong>{{ product.total_quantity }}</strong> шт. продано
        </li>
    {% empty %}
        <li style="text-align: center; color: #999;">Нет данных за последние три месяца.</li>
    {% endfor %}
</ul>

<h2 style="text-align: center; color: #333; font-family: 'Arial', sans-serif;">Топ 60 товаров за год</h2>
<ul style="list-style-type: none; padding: 0; margin: 20px 0;">
    {% for product in top_products_year %}
        <li style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px; padding: 10px; margin-bottom: 10px; transition: background-color 0.3s;">
            {{ product.product__title }} (Артикул: {{ product.product__article_number }}): <strong>{{ product.total_quantity }}</strong> шт. продано
        </li>
    {% empty %}
        <li style="text-align: center; color: #999;">Нет данных за последний год.</li>
    {% endfor %}
</ul>

<br>
<br>
<div style="text-align: center;">
    <a href="{{ request.META.HTTP_REFERER }}" style="text-decoration: none; color: white; background-color: #4CAF50; padding: 10px 20px; border-radius: 5px; transition: background-color 0.3s;">Вернуться в админку</a>
</div>
{% endblock %}